// general

body {
  @include color($primary-text-color, $bg-color);
}

hr {
  border-color: $dark-text-color;
  background-color: $dark-text-color !important;
}

a {
  color: $link-text-color;
  &:hover, &:focus, &:active {
    color: lighten($link-text-color, 4%);
  }
}

label, label > span {
  color: $secondary-text-color;
}

.label.success {
  color: $success-color;
  border-color: $success-color;
}

.label.info {
  color: $info-color;
  border-color: $info-color;
}

.label.warning {
  color: $warning-color;
  border-color: $warning-color;
}

.label.cancel, .label.alert {
  color: $alert-color;
  border-color: $alert-color;
}

.txtlabel.success {
  color: $success-color;
}

.txtlabel.info {
  color: $info-color;
}

.txtlabel.warning {
  color: $warning-color;
}

.txtlabel.cancel, .label.alert {
  color: $alert-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-text-color;
}

// tables
.table {
  > thead > tr > th {
    border-bottom-color: $dark-text-color;
    color: $secondary-text-color;
  }
  > tbody > tr > td {
    border-bottom-color: darken($dark-text-color,10%);
  }
  &.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: lighten($bg-color, 15%);
    border-bottom-color: lighten($dark-text-color,20%);
  }
}

.table {
//  &.table-hover.order-table > tbody > tr:nth-of-type(odd) {
//    background-color: lighten($bg-color, 5%);
//  }
//  &.table-hover.order-table > tbody > tr:nth-of-type(even) {
//    background-color: lighten($bg-color, 10%);
//  }
//  &.table-hover.order-table > tbody > tr, .table-hover.order-table > tbody > tr {
//    background-color: lighten($bg-color, 5%);
//    border-bottom-color: lighten($dark-text-color,10%);
//  }

  &.table-hover.order-table > tbody > tr:hover > td, .table-hover.order-table > tbody > tr:hover > th {
    background-color: lighten($bg-color, 20%);
    border-bottom-color: lighten($dark-text-color,20%);
  }
}

.right-column {
  .table {
    > tbody > tr > td {
      border-bottom-color: darken($dark-text-color,3%);
    }

    &.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
      background-color: lighten($bg-color, 20%);
      border-bottom-color: darken(white,20%);
    }
  }
}





// Misc
//.chart-zoom-dropdown {
//  position:absolute;
//  top:0; left:0; z-index:999;
//  .icon { display:none; }
//}




.menu-group.primary .menu-bar > li > a.active {
  background-color: #4c4c4c !important;
}

.darkTheme .modal { background-color:$bg-color; }